body {
    font-family: '微软雅黑'; /** 设置字体库 */
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/** 自定义一些基础样式 */

/** 我们的盒子 */
.web_ui_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

/** 让盒子里的东西上下居中显示 */
.web_ui_box.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/** 盒子里的元素撑开填满剩余空间的样式 */
.web_ui_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.header {
    position: fixed; /** 浮动 */
    top: 0; /** 距离窗口顶部为0 */
    width: 100%; /** 宽度 100% */
    left: 0; /** 距离窗口左边为0 */
    padding: 10px 6px; /** 内边距 上下10px 左右6px */
    background-color: #FF852A; /** 背景颜色 */
    height: 44px;
}

.header_icon {
    width: 27px;
    margin-right: 10px; /** 淘字距离左边 10像素的距离 */
}

.input_box {
    height: 32px;
    line-height: 32px; /** 设置行高为32px，和height等高，为了实现文字上下居中 */
    text-align: center; /** 设置文字左右居中 */
    background-color: #FF4E22;
    border-radius: 4px; /** 设置圆角4像素 */
    color: #F0E0DC; /** 设置字体颜色 */
}